{
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleAttributePerLine": false
      }
    }
  ]
}
