.hidden {
  display: none;
}

.box {
  background-color: #0008;
  border: 2px solid var(--st-red-bright);
  box-shadow:
    0 0 5px var(--st-red-bright),
    inset 0 0 5px var(--st-red-bright);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

